cmds/petpet.js

*.zip
stats.json
Rules-tarang.txt
TarangBot/
Unused/
cmds/beta/*
config.json
gsheetsConfig.json
helpScripts/getEmojis.js
node_modules/
package-lock.json
package.json
participants.json
save.json
serverConfig.json
tbot.zip
test/
todo